In [1]:
import pandas as pd
from sklearn import model_selection
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df['fold'] = -1

In [4]:
def cross_fold(data):
    data = data.sample(frac=1).reset_index(drop=True)
    y= data.target.values
    s_folds= model_selection.StratifiedKFold(n_splits=5)
    for f, (t_, v_) in enumerate(s_folds.split(X=data, y=y)):
        data.loc[v_, 'fold'] = f
    return data

In [5]:
xx=cross_fold(df)

In [6]:
xx.head()

,id,target,0,1,2,3,4,5,6,7,...,291,292,293,294,295,296,297,298,299,fold
0,102,0.0,0.065,-0.268,0.386,1.247,-0.966,0.596,0.380,0.548,...,-0.406,1.985,0.544,-0.013,0.820,3.236,0.372,0.046,0.656,0
1,123,1.0,0.309,0.958,0.115,0.821,-0.225,-2.746,1.554,0.053,...,0.932,-0.350,0.547,0.784,-1.615,-0.246,-0.267,0.765,0.346,0
2,163,1.0,1.330,0.106,0.839,0.325,-1.808,0.123,1.094,-0.814,...,-0.138,-0.287,1.490,-1.703,0.010,-0.835,0.780,1.103,1.392,0
3,106,1.0,0.643,0.549,-1.952,1.604,0.887,0.677,-1.093,1.457,...,0.281,-0.973,-0.496,-0.367,0.114,-0.006,1.925,0.092,-2.571,0
4,220,1.0,1.225,-2.099,2.077,0.278,0.267,-1.150,0.215,0.928,...,-0.415,1.602,2.421,0.732,-0.578,-0.963,-1.214,-1.695,1.483,0

In [7]:
for i in range(5):
    print(f'disrtibution of target in fold {i}')
    print(xx[xx['fold']==i].target.value_counts())

disrtibution of target in fold 0
1.0    32
0.0    18
Name: target, dtype: int64
disrtibution of target in fold 1
1.0    32
0.0    18
Name: target, dtype: int64
disrtibution of target in fold 2
1.0    32
0.0    18
Name: target, dtype: int64
disrtibution of target in fold 3
1.0    32
0.0    18
Name: target, dtype: int64
disrtibution of target in fold 4
1.0    32
0.0    18
Name: target, dtype: int64

In [8]:
xx.to_csv("train_folds.csv", index=False)